# MONGO_URI=
NODE_ENV=
# #MONGO_URI=
JWT_SECRET=
GOOGLE_CLIENT_ID=
ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=

# File Upload Configuration
USE_GOOGLE_DRIVE=
BASE_URL=
 FRONTEND_URL=

# Google Drive Configuration
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_MANUSCRIPTS_FOLDER=
GOOGLE_DRIVE_COVERLETTERS_FOLDER=
GOOGLE_DRIVE_DECLARATIONS_FOLDER=
GOOGLE_DRIVE_MERGED_FOLDER=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#EMAIL_HOST=
#EMAIL_PORT=
#EMAIL_USER=
#EMAIL_PASS=

# Old Email Configuration (REMOVE THESE WHEN SENDGRID IS WORKING)
# EMAIL_HOST=
# EMAIL_PORT=
# EMAIL_USER=
# EMAIL_PASS=

# SendGrid Configuration
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
FRONTEND_URL=
USE_PUPPETEER_FALLBACK=
LIBREOFFICE_BIN=
GOOGLE_DRIVE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_DRIVE_PRIVATE_KEY=
GOOGLE_DRIVE_PDFS_FOLDER_ID=
GOOGLE_CLIENT_ID_pdf=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_REFRESH_TOKEN=
LIBREOFFICE_PATH =

# New Email Configuration (Hostinger)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
EMAIL_FROM_NAME=

# New Email Configuration (Hostinger)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
EMAIL_FROM_NAME=

# New Email Configuration (Hostinger)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
EMAIL_FROM_NAME=
#
MONGO_URI=

# --- NEW MONGO_URI ---
# MONGO_URI=

# MONGO_URI=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_REGION=
AWS_S3_BUCKET=
PUBLIC_SITE_URL=