RewriteEngine On
RewriteBase /


RewriteRule ^journal/jics/articles/([a-f0-9]{24})$ /scholar/article/$1 [R=302,L]
RewriteRule ^journal/jics/articles/([a-f0-9]{24})/?$ /scholar/article/$1 [R=302,L]


RewriteRule ^scholar/article/(.+)$ https://api.synergyworldpress.com/scholar/article/$1 [R=301,L]
RewriteRule ^sitemap\.xml$ https://api.synergyworldpress.com/sitemap.xml [R=301,L]
RewriteRule ^robots\.txt$ https://api.synergyworldpress.com/robots.txt [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]